* {
    font-family: "Comfortaa", sans-serif;
    margin: 0;
    padding: 0;

}

body {
    display: flex;
    flex-direction: column;
}

.header {
    width: 90%;
    height: 62px;
    background-color: white;
    display: flex;
    align-items: center;
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    margin: 24px auto 50px auto;
    justify-content: space-between;
    min-width: 280px;
    flex-shrink: 0;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);

}


.location {
    width: 105px;
    height: 52px;

    border-radius: 10px;
    border: none;

    background-color: #FEBA00;
    color: white;

    display: flex;
    padding: 18px 21px;
    align-items: center;
    margin-left: 5px;

    font-weight: normal;
    font-size: 14px;

    transition: 0.3s;
}

.location:hover {
    background-color: #FFFFFF;
    color: #FEBA00;
    border: 1px solid #D9D9D9;
    cursor: pointer;
}

.location svg {
    width: 10px;
    height: 15px;
    padding-left: 6px;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.button {
    border: 1px solid #D9D9D9;
    width: 52px;
    height: 52px;
    border-radius: 10px;
    background-color: white;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;
    transition: 0.25s;
    color: #FEBA00;
}

.buttons button:nth-child(4) {
    display: none;
}

.button:hover {
    background-color: #FEBA00;
    color: white;
    stroke-color: white;
}

.buttons {
    display: flex;
    gap: 5px;
    margin-right: 5px;
}

.button svg {
    width: 26px;
    height: 26px;
    margin: 12px;
}

.promo {
    width: 90%;
    height: 430px;

    border: 1px solid #D9D9D9;
    border-radius: 15px;

    margin: 138px auto 50px auto;
    background-image: url("./img/Промо.svg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_section {
    position: absolute;
}

.prev {
    width: 35px;
    height: 35px;
    border: 2px solid #FFFFFF;
    background: transparent;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.3s;
}

.prev:hover {
    background-color: #FFFFFF;
    color: #FEBA00;
}

.promo_content {
    width: 90%;
    height: 100%;
    /*border: 1px solid black;*/
    display: flex;
    justify-content: flex-end;
}

.promo_text {
    width: 460px;
    height: 100%;
    /*border: 1px solid black;*/
    margin-right: 64px;
    color: white;
    text-align: center;
    font-weight: bold;
}

.promo_text_p {
    font-size: 38px;
    margin-top: 38px;
}

.promo_text_p2 {
    font-size: 108px;
    margin-top: 20px;
}

.promo_text_p3 {
    font-size: 28px;
    margin: 10px 0 14px 0;
}

.next {
    width: 35px;
    height: 35px;
    border: 2px solid #FFFFFF;
    background: transparent;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.3s;
}

.next:hover {
    background-color: #FFFFFF;
    color: #FEBA00;
}

.button_left svg {

}

.promo_content button {
    width: 176px;
    height: 44px;
    border-color: #FFFFFF;
}

.quality {
    width: 90%;
    height: 62px;
    border: 1px solid #D9D9D9;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.quality_1 {
    width: 217px;
    height: 100%;
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    padding-left: 6px;
    font-size: 14px;
    gap: 13px;

}



@media (max-width: 1292px) {
    .promo {
        background-image: url("./img/Промо_блюр.png");
        background-size: cover;
        background-repeat: no-repeat;
    }

}


@media (max-width: 768px) {


    .buttons button:nth-child(1),
    .buttons button:nth-child(2),
    .buttons button:nth-child(3) {
        display: none;
    }

    .buttons button:nth-child(4) {
        display: flex;

    }

    .location {
        display: none;
    }

    .header {
        justify-content: right;
    }

    .promo {
        height: 350px;
        background-image: url("./img/Промо_блюр.png");
    }

    .promo_content {
        width: 80%;
    }

    .promo_text {
        align-content: center;
        gap: 20px;
    }

    .promo_text_p {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .promo_text_p2 {
        font-size: 62px;
        margin-bottom: 10px;

    }

    .promo_text_p3 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .promo_text {
        margin: 0;
        width: 100%;

    }

    .promo_text button {

    }

/*    .quality {*/
/*        display: flex;                 !* вместо грида *!*/
/*        overflow-x: auto;              !* скролл по горизонтали *!*/
/*        gap: 12px;*/
/*        scroll-snap-type: x mandatory; !* плавный фиксированный скролл *!*/
/*        padding-bottom: 10px;          !* чтобы было место под скроллбар *!*/
/*    }*/

/*    .quality_1 {*/
/*        min-width: 200px;              !* ширина карточки *!*/
/*        flex-shrink: 0;                !* не сжимается *!*/
/*        scroll-snap-align: start;      !* фиксация карточек *!*/
/*    }*/

/*    !* Убираем полосу прокрутки (опционально) *!*/
/*    .quality::-webkit-scrollbar {*/
/*        display: none;*/
/*    }*/
/*}*/
}
