* {
    font-family: "Comfortaa", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.telephone {
    text-decoration: none;
}

body {
    max-width: 1440px;
    margin: auto;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('../../fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

a{
    text-decoration: none;
    color: black;
}

.header {
    width: 90%;
    max-width: 1440px;
    height: 62px;
    background-color: white;
    display: flex;
    align-items: center;
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    margin: 0 auto 50px auto;
    justify-content: space-between;
    min-width: 280px;
    flex-shrink: 0;
    position: sticky;
    top: 25px;
}

.header_button_location {
    width: 105px;
    height: 52px;
    border-radius: 10px;
    border: none;
    background-color: #FEBA00;
    color: white;
    display: flex;
    padding: 18px 21px;
    align-items: center;
    margin-left: 5px;
    font-weight: normal;
    font-size: 14px;
    transition: 0.3s;
    justify-content: space-between;
}

.header_button_location:hover {
    background-color: #FFFFFF;
    color: #FEBA00;
    border: 1px solid #D9D9D9;
    cursor: pointer;
}

.header_button_location svg {
    width: 10px;
    height: 15px;
    /*padding-left: 6px;*/
}

.header_logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.button {
    width: 52px;
    height: 52px;
    border-radius: 10px;
    background-color: white;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;
    transition: 0.25s;
    color: #FEBA00;
    border: 1px solid #D9D9D9;
}

.header_buttons_menu button:nth-child(4) {
    display: none;
}

.button:hover {
    background-color: #FEBA00;
    color: white;
}

.header_buttons_menu {
    display: flex;
    gap: 5px;
    margin-right: 5px;
}

.header_buttons_menu_button svg {
    width: 26px;
    height: 26px;
    margin: 12px;
}

.footer{
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    width: 90%;
    height: 300px;
    margin: 50px auto ;
    display: flex;
    align-items: center;
    justify-content: center;
}



.footer_content{
    border-bottom: 1px solid #E5E5E5;
    width: 90%;
    height: 60%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 70px;

}

.footer_content_logo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}

.footer_content_logo_social{
    height: 24px;
    width: 60px;
    display: flex;
    justify-content: space-between;
}

.footer_content_block_text{
    font-size: 14px;
    margin-top: 10px;
    color: #8B8B8B;
    transition: 0.3s;
}

.footer_content_block_text:hover{
    cursor: pointer;
    color: black;
}

.card_name{
    width: 90%;
    height: 80px;
    margin: 50px auto;
    display: flex;
}

.card_name_button{
    width: 80px;
    height: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 15px;
    background-color: white;
    margin-right: 30px;
    transition: 0.3s;
    color: #FEBA00;
    cursor: pointer;
}

.card_name_button:hover{
    background-color: #FEBA00;
    color: white;
}

.card_name_name{
    height: 100%;
    width: 100%;
    color: white;
    background-color: #FEBA00;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    border-radius: 15px;
}

@media (max-width: 1292px) {
    .footer_content{
        grid-template-columns: repeat(2, 1fr);
    }

    .footer_content_logo_social{
        display: none;
    }

    .footer{
        height: 100%;
        padding: 50px;
    }

    .footer_content{
        border-bottom: 0;
    }

    .card_name_button{
        display: none;
    }

    .card_name_name{
        font-size: 24px;
    }
}

@media (max-width: 768px) {
    .header_buttons_menu button:nth-child(1),
    .header_buttons_menu button:nth-child(2),
    .header_buttons_menu button:nth-child(3) {
        display: none;
    }

    .header_buttons_menu button:nth-child(4) {
        display: flex;
    }

    .header_button_location {
        display: none;
    }

    .header {
        justify-content: right;
    }

    .footer_content{
        grid-template-columns: repeat(1, 1fr);
    }
}