.news{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    border-radius: 10px;
    gap: 40px;
}

.news_card{
    width: 100%;
    height: 450px;
    border-radius: 10px;
    border: 1px solid #d9d9d9;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
}

.news_card img{
    width: 100%;
    height: 210px;
    border-radius: 10px;
}

.news_card_title{
    font-size: 24px;
    margin-top: 20px;
}

.news_card_date{
    font-size: 20px;
    margin-top: 20px;
}

.news_card_date_date{
    margin-top: 20px;
}

@media (max-width: 1000px){
    .news{
        flex-direction: column;
    }
}