.card_name{
    width: 90%;
    height: 80px;
    margin: 50px auto;
    display: flex;
}

.card_name_button{
    width: 80px;
    height: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 15px;
    background-color: white;
    margin-right: 30px;
    transition: 0.3s;
    color: #FEBA00;
    cursor: pointer;
}

.card_name_button:hover{
    background-color: #FEBA00;
    color: white;
}

.card_name_name{
    height: 100%;
    width: 100%;
    color: white;
    background-color: #FEBA00;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    border-radius: 15px;
}

.description{
    width: 90%;
    height: 100%;
    /*border: 1px solid #d9d9d9;*/
    margin: 0 auto;
    display: flex;
    gap: 20px;
}

.description_description{
    width: 50%;
    height: 100%;
    padding: 20px;
    border: 1px solid #d9d9d9;
    border-radius: 15px;
    text-align: justify;

}

.description_description_name{
    font-size: 24px;}

.description_description_text{
    margin-top: 20px;
}

.description_price{
    border: 1px solid #d9d9d9;
    border-radius: 15px;
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.description_price_name{
    font-size: 24px;
}

.description_price_subtitle{
    margin-top: 10px;
    color: #FEBA00;
}

.description_price_price{
    color: #FEBA00;
    font-size: 24px;
    margin-top: 20px;

}

.description_price_button{
    width: 100%;
    height: 80px;
}

.description_price_button{
    margin-top: 20px;
}

.description_price_button_info{
    margin: 10px 0;
}

.description_price_button button{
    width: 100%;
    height: 40px;
    background-color: #FEBA00;
    color: #FFFFFF;
    border-radius: 15px;
    border: none;

}

.description_price_button_info{
    display: flex;
    justify-content: space-between;
}

.gallery{
    width: 90%;
    height: 100%;
    margin: 50px auto;
    display: flex;
    border: 1px solid #d9d9d9;
    border-radius: 15px;
    padding: 20px;
    justify-content: center;
    flex-direction: column;
}

.gallery_title{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-bottom:20px ;
    font-size: 24px;
    color: #FEBA00;
}

.gallery_cards{
    border: 1px solid #d9d9d9;
}

.gallery_card{
    max-width: 250px;
    max-height: 350px;
    border: 1px solid #d9d9d9;
    background-image: url("src/img/Лошадь.png");
}
@media (max-width: 1000px){
    .description{
        flex-direction: column;
    }

    .description_description{
        width: 100%;
    }

    .description_price{
        width: 100%;
    }
}

@media (max-width: 1292px) {
    .card_name_button{
        display: none;
    }

    .card_name_name{
        font-size: 24px;
    }
}

