.description{
    width: 90%;
    height: 100%;
    /*border: 1px solid #d9d9d9;*/
    margin: 0 auto;
    display: flex;
    gap: 20px;
}

.description_description{
    width: 50%;
    height: 100%;
    padding: 20px;
    border: 1px solid #d9d9d9;
    border-radius: 15px;
    text-align: justify;
}

.description_description_name{
    font-size: 24px;}

.description_description_text{
    margin-top: 20px;
}

.description_price{
    border: 1px solid #d9d9d9;
    border-radius: 15px;
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.description_price_name{
    font-size: 24px;
}

.description_price_subtitle{
    margin-top: 10px;
    color: #FEBA00;
}

.description_price_price{
    color: #FEBA00;
    font-size: 24px;
    margin-top: 20px;

}

.description_price_button{
    width: 100%;
    height: 80px;
}

.description_price_button{
    margin-top: 20px;
}

.description_price_button_info{
    margin: 10px 0;
}

.description_price_button button{
    width: 100%;
    height: 40px;
    background-color: #FEBA00;
    color: #FFFFFF;
    border-radius: 15px;
    border: none;
}

.description_price_button_info{
    display: flex;
    justify-content: space-between;
}


