.profile {
    width: 90%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    margin: 40px auto;
    gap: 50px;
}
.title_block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #d9d9d9;
    border-radius: 15px;
    padding: 15px 0;
}
.title_block_title {
    text-align: center;
}
.profile_details_block {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-between;
    gap: 50px;
}
.profile_details_block_item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #d9d9d9;
    border-radius: 15px;
    padding: 20px;
    justify-content: space-between;
    gap: 25px;
    box-sizing: border-box;
}
.profile_details_block_info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.form_label_input {
    width: 100%;
    padding-left: 20px;
    border: 1px solid #d9d9d9;
    border-radius: 15px;
    height: 45px;
    box-sizing: border-box;
}
.form_label_input::placeholder {
    color: #FEBA00;
}
.profile_details_block_info_title {
    color: #FEBA00;
    font-size: 2.5em;
    width: 100%;
}
.password_change_block_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #d9d9d9;
    border-radius: 15px;
    padding: 15px 20px;
    width: 100%;
    grid-column: span 2;
    box-sizing: border-box;
}
.title_block_sub {
    border: none;
}
.password_change_block_form_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 25px;
    row-gap: 10px;
    width: 100%;
}
.form_label_input_button {
    background-color: #FEBA00;
    color: #d9d9d9;
    width: 100%;
    padding-left: 0;
}
.desktop {
    display: block;
}
.mobile {
    display: none;
}
@media (max-width: 768px) {
    .profile_details_block {
        display: flex;
        flex-direction: column;
    }
    .password_change_block_form_wrapper {
        display: flex;
        flex-direction: column;
    }
    .mobile {
        display: block;
    }
    .desktop {
        display: none;
    }
}