.register{
    width: 30%;
    height: 510px;
    /*max-height: 320px;*/
    border: 1px solid #d9d9d9;
    border-radius: 15px;
    margin: 70px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    min-width: 420px;
}

.register_name{
    font-size: 24px;
}

.register_text{
    font-size: 10px;
    margin-top: 10px;
}

.register_form_input{
    width: 90%;
    height: 20%;
    border: 1px solid #d9d9d9;
    border-radius: 12px;
    text-align: center;
    margin-top: 20px;
}

.register_reset_password{
    width: 90%;
    height: 10%;
    font-size: 10px;
    text-align: end;
}

.register_button{
    width: 95%;
    height: 20%;
    border: 1px solid #d9d9d9;
    border-radius: 12px;
    font-size: 20px;
    background-color: #FEBA00;
    color: #FFFFFF;
    transition: 0.3s;
    margin-top: 25px;
}

.register_button:hover{
    cursor: pointer;
    color: #FEBA00;
    background-color: #FFFFFF;
}

.register_reg{
    margin-top: 10px;
    font-size: 10px;
}

