:root {
    --content-border: 1px solid #d9d9d9;
    --conrast-color: #FEBA00;
    --content-border-radius: 15px;
}

* {
    font-family: "Comfortaa", sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    width: 90%;
    max-width: 1440px;
    height: 62px;
    background-color: white;
    display: flex;
    align-items: center;
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    margin: 0 auto 50px auto;
    justify-content: space-between;
    min-width: 280px;
    flex-shrink: 0;
    position: sticky;
    top: 25px;
}

a{
    text-decoration: none;
    color: black;
}

.location {
    width: 105px;
    height: 52px;

    border-radius: 10px;
    border: none;

    background-color: #FEBA00;
    color: white;

    display: flex;
    padding: 18px 21px;
    align-items: center;
    margin-left: 5px;

    font-weight: normal;
    font-size: 14px;

    transition: 0.3s;
}

.location:hover {
    background-color: #FFFFFF;
    color: #FEBA00;
    border: 1px solid #D9D9D9;
    cursor: pointer;
}

.location svg {
    width: 10px;
    height: 15px;
    padding-left: 6px;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.button {
    border: 1px solid #D9D9D9;
    width: 52px;
    height: 52px;
    border-radius: 10px;
    background-color: white;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;
    transition: 0.25s;
    color: #FEBA00;
}

.buttons button:nth-child(4) {
    display: none;
}

.button:hover {
    background-color: #FEBA00;
    color: white;
    stroke-color: white;
}

.buttons {
    display: flex;
    gap: 5px;
    margin-right: 5px;
}

.button svg {
    width: 26px;
    height: 26px;
    margin: 12px;
}

.promo {
    width: 90%;
    height: 430px;

    border: 1px solid #D9D9D9;
    border-radius: 15px;

    margin: 50px auto 50px auto;
    background-image: url("../img/Промо.svg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation_buttons {
    width: 35px;
    height: 35px;
    border: 2px solid #FFFFFF;
    background: transparent;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.3s;
}

.navigation_buttons:hover {
    background-color: #FFFFFF;
    color: #FEBA00;
}

.promo_content {
    width: 90%;
    height: 100%;
    /*border: 1px solid black;*/
    display: flex;
    justify-content: flex-end;
}

.promo_text {
    width: 460px;
    height: 100%;
    /*border: 1px solid black;*/
    margin-right: 64px;
    color: white;
    text-align: center;
    font-weight: bold;
}

.promo_text_p {
    font-size: 38px;
    margin-top: 38px;
}

.promo_text_p2 {
    font-size: 108px;
    margin-top: 20px;
}

.promo_text_p3 {
    font-size: 28px;
    margin: 10px 0 14px 0;
}


.button_left svg {

}

.promo_content button {
    width: 176px;
    height: 44px;
    border-color: #FFFFFF;
}

.quality {
    width: 90%;
    min-height: 62px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin: 0 auto;
}

.quality_1 {
    width: 100%;
    height: 100%;
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    display: flex;
    align-items: center;
    font-size: 14px;
}
.quality_1 img{
    margin: 6px;
}

.quality_1 p{
    width: 100%;
    text-align: center;
}

.search{
    width: 90%;
    min-height: 62px;
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.button_catalog{
    width: 120px;
    height: 52px;
    border-radius: 10px;
    border: none;
    background-color: #FEBA00;
    color: white;

    display: flex;
    padding: 18px 17px;
    align-items: center;
    justify-content: space-between;
    margin-left: 5px;

    font-weight: normal;
    font-size: 14px;

    transition: 0.3s;

}

.button_catalog:hover{
    background-color: #FFFFFF;
    color: #FEBA00;
    border: 1px solid #D9D9D9;
}

.nav_center{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    overflow: hidden;
}

.button_search{
    margin-right: 5px;
    border: 1px solid #D9D9D9;
    width: 52px;
    height: 52px;
    border-radius: 10px;
    background-color: white;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;
    transition: 0.25s;
    color: #FEBA00;
}

.button_search:hover {
    background-color: #FEBA00;
    color: white;
    stroke-color: white;
}


@media (max-width: 1292px) {
    .promo {
        background-image: url("../img/Промо_блюр.png");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .quality {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {


    .buttons button:nth-child(1),
    .buttons button:nth-child(2),
    .buttons button:nth-child(3) {
        display: none;
    }

    .buttons button:nth-child(4) {
        display: flex;

    }

    .location {
        display: none;
    }

    .header {
        justify-content: right;
    }

    .promo {
        height: 350px;
        background-image: url("../img/Промо_блюр.png");
    }

    .promo_content {
        width: 80%;
    }

    .promo_text {
        align-content: center;
        gap: 20px;
    }

    .promo_text_p {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .promo_text_p2 {
        font-size: 62px;
        margin-bottom: 10px;

    }

    .promo_text_p3 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .promo_text {
        margin: 0;
        width: 100%;

    }

    .promo_text button {

    }


    .quality{
        grid-template-columns: repeat(2, 1fr);
    }

    .quality > :last-child {
        grid-column: 1 / -1;
        max-width: 50%;
        justify-self: center;
    }

}
