* {
    font-family: "Comfortaa", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('../../fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.header {
    width: 90%;
    height: 62px;
    background-color: white;
    display: flex;
    align-items: center;
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    margin: 0 auto 50px auto;
    justify-content: space-between;
    min-width: 280px;
    flex-shrink: 0;
    position: sticky;
    top: 25px;
    max-width: 1440px;
}

.header_button_location {
    width: 105px;
    height: 52px;
    border-radius: 10px;
    border: none;
    background-color: #FEBA00;
    color: white;
    display: flex;
    padding: 18px 21px;
    align-items: center;
    margin-left: 5px;
    font-weight: normal;
    font-size: 14px;
    transition: 0.3s;
}

.header_button_location:hover {
    background-color: #FFFFFF;
    color: #FEBA00;
    border: 1px solid #D9D9D9;
    cursor: pointer;
}

.header_button_location svg {
    width: 10px;
    height: 15px;
    padding-left: 6px;
}

.header_logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.button {
    width: 52px;
    height: 52px;
    border-radius: 10px;
    background-color: white;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;
    transition: 0.25s;
    color: #FEBA00;
    border: 1px solid #D9D9D9;
}

.header_buttons_menu button:nth-child(4) {
    display: none;
}

.button:hover {
    background-color: #FEBA00;
    color: white;
    stroke-color: white;
}

.header_buttons_menu {
    display: flex;
    gap: 5px;
    margin-right: 5px;
}

.header_buttons_menu_button svg {
    width: 26px;
    height: 26px;
    margin: 12px;
}

.promo {
    width: 90%;
    height: 430px;
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    margin: 50px auto 50px auto;
    background-image: url("../img/Промо.svg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
}

.promo_navigation_arrow {
    width: 35px;
    height: 35px;
    border: 2px solid #FFFFFF;
    background: transparent;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.3s;
}

.promo_navigation_arrow:hover {
    background-color: #FFFFFF;
    color: #FEBA00;
}

.promo_content {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.promo_text {
    width: 460px;
    height: 100%;
    margin-right: 64px;
    color: white;
    text-align: center;
    font-weight: bold;
}

.promo_text_var-1 {
    font-size: 38px;
    margin-top: 38px;
}

.promo_text_var-2 {
    font-size: 108px;
    margin-top: 20px;
}

.promo_text_var-3 {
    font-size: 28px;
    margin: 10px 0 14px 0;
}

.promo_content button {
    width: 176px;
    height: 44px;
    border-color: #FFFFFF;
}

.quality {
    width: 90%;
    min-height: 62px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin: 0 auto;
    max-width: 1440px;
}

.quality_block {
    width: 100%;
    height: 100%;
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    display: flex;
    align-items: center;
    font-size: 14px;
}
.quality_block img{
    margin: 6px;
}

.quality_block p{
    width: 100%;
    text-align: center;
}

.search{
    width: 90%;
    height: 62px;
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
}

.search_button_catalog{
    width: 120px;
    height: 52px;
    border-radius: 10px;
    border: none;
    background-color: #FEBA00;
    color: white;
    display: flex;
    padding: 18px 17px;
    align-items: center;
    justify-content: space-between;
    margin-left: 5px;
    font-weight: normal;
    font-size: 14px;
    transition: 0.3s;
}

.search_button_catalog:hover{
    background-color: #FFFFFF;
    color: #FEBA00;
    border: 1px solid #D9D9D9;
    cursor: pointer;
}

.search_nav_center{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    overflow: hidden;
}

.search_button_search{
    margin-right: 5px;
}

.search_button_search:hover {
    background-color: #FEBA00;
    color: white;
    stroke-color: white;
}

.product-list{
    width: 90%;
    min-height: 500px;
    max-width: 1440px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*border: 1px solid #D9D9D9;*/
    border-radius: 15px;
    margin: 0 auto;
    gap: 20px;
    justify-items: center;
}

.product-list_card{
    width: 100%;
    min-height: 500px;
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    max-width: 420px;
}


.product-list_card_horse{
    background-image: url("../../src/img/Лошадь.png");
}

.product-list_card_butterfly{
    background-image: url("../../src/img/Сказка.png");
}

.product-list_card_wish{
    background-image: url("../../src/img/Желание.png");
}

.product-list_card button{
    width: 95%;
    margin-bottom: 10px;
    font-size: 18px;
    color: black;
}

.news_name{
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    width: 90%;
    height: 80px;
    margin: 50px auto 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.news_content{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.news_content_card{
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    max-height: 220px;
    padding: 20px;
    text-align: center;
}

.news_content_card_name{
    display: block;
    font-size: 24px;
}

.news_content_card_info{
    color: #8B8B8B;
    font-size: 14px;
    margin-top: 10px;
}

.news_content_card_button{
    width: 100%;
    margin-bottom: 10px;
    font-size: 18px;
    margin-top: 10px;
}

.footer{
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    width: 90%;
    height: 300px;
    margin: 50px auto ;
    display: flex;
    align-items: center;
    justify-content: center;
}



.footer_content{
    border-bottom: 1px solid #E5E5E5;
    width: 90%;
    height: 60%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 70px;

}

.footer_content_logo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}

.footer_content_logo_social{
    height: 24px;
    width: 60px;
    display: flex;
    justify-content: space-between;
}

.footer_content_block_text{
    font-size: 14px;
    margin-top: 10px;
    color: #8B8B8B;
    transition: 0.3s;
}

.footer_content_block_text:hover{
    cursor: pointer;
    color: black;

}

@media (max-width: 1292px) {
    .promo {
        background-image: url("../img/Промо_блюр.png");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .quality {
        grid-template-columns: repeat(3, 1fr);
        margin: 50px auto;
    }

    .search{
        display: none;
    }


    .product-list{
        grid-template-columns: repeat(2, 1fr);
    }

    .news_content{
        grid-template-columns: repeat(2, 1fr);
    }

    .footer_content{
        grid-template-columns: repeat(2, 1fr);
    }

    .footer_content_logo_social{
        display: none;
    }

    .footer{
        height: 100%;
        padding: 50px;
    }

    .footer_content{
        border-bottom: 0;
    }
}

@media (max-width: 768px) {
    .header_buttons_menu button:nth-child(1),
    .header_buttons_menu button:nth-child(2),
    .header_buttons_menu button:nth-child(3) {
        display: none;
    }

    .header_buttons_menu button:nth-child(4) {
        display: flex;

    }

    .header_button_location {
        display: none;
    }

    .header {
        justify-content: right;
    }

    .promo {
        height: 350px;
        background-image: url("../img/Промо_блюр.png");
    }

    .promo_content {
        width: 80%;
    }

    .promo_text {
        align-content: center;
        gap: 20px;
        margin: 0;
        width: 100%;
    }

    .promo_text_var-1 {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .promo_text_var-2 {
        font-size: 62px;
        margin-bottom: 10px;
    }

    .promo_text_var-3 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .quality{
        grid-template-columns: repeat(2, 1fr);
    }

    .quality > :last-child {
        justify-self: center;
        grid-column: span 2;
    }

    .search{
        display: none;
    }

    .product-list{
        grid-template-columns: repeat(1, 1fr);
    }

    .news_content{
        grid-template-columns: repeat(1, 1fr);
    }

    .footer_content{
        grid-template-columns: repeat(1, 1fr);
    }
}
